<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntinhas dos inscritos</title>
</head>

<body>
    <h1>Perguntinhas dos inscritos</h1>
    <hr>
    <%= %> <!-- exibir valor da variavel  --> 

    <p>Qual seu nome verdadeiro? <%= nome %> </p>
    <p>Linguagem favorita: <%= language %> </p>
    <p>Empresa atual: <%= empresa %> </p>
    <p>Numero de contato: <%= ramal %> </p>

    <% if(msg){ %> <!-- abertura de tag EJS, <%= %> apenas para pegar valor da variavel-->
       <h3>Isso é uma mensagem de erro!</h3>        
    <% }else{ %>
       <h3>Isso é uma mensagem de nao erro!</h3>           
    <% } %>    

    <% produtos.forEach(function(produto) {%>
        <hr>
        <%= produto.nome %>
        <%= produto.preco %>
        <br>
    <% }) %>

</body>

</html>